<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark" data-bs-theme="dark"
     style="background: linear-gradient(90deg, #cff6faff 0%, #c2e8f3ff 1%, #9cd4e1ff 21%, #4dc0eaff 36%, #209ad2ff 61%, #08438bff 84%, #041628ff 100%); height: 84px; font-size: 150%;">
  
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center", style: "color: black; font-size: 120%;" do %>
    <%= image_tag "pc.png", alt: "Spectare Neon Icon", style: "height: 80px; width: 100px; margin-right: -3px;" %>
    <h3 style="text-align: center; font-size: 2.5rem; text-shadow: 0 0 6px #dee7e7ff;">Spectare</h3>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link about-link", style: "color: blue; font-size: 80%;" %>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="color: black;">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <%= link_to "🎲 Surprise Me", "/movies/surprise", class: "btn btn-outline-primary ml-3 my-2 my-sm-0" %>
  </div>
</nav>








