/* app/assets/stylesheets/application.css */

/* General page styling */
html, body {
  background-color: #00060900; /* Slightly transparent black */
  color: #fff;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Navigation links */
.nav-link.about-link {
  padding-top: 0.9rem;
}

.movie-card {
  border: 2px solid rgba(255, 255, 255, 0.15);
  padding: 0.5rem;
  background-color: #010508ff;
  color: #f2f2f2;
  border-radius: 0.375rem;
  transition: border-color 0.3s ease;
}

.movie-card:hover {
  border-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
